* {
    margin: 0px;
    padding: 0px;
}

#NavBar {
    padding: 20px 5%;
    height: 10%;
    display: flex;
    background-color: #386BDF;
    justify-content: space-between;
}

.Link {
    text-decoration: none;
}


#Logo {
    width: 100px;
}

#Logo-phone {
    width: 80px;
}

#Logo-SideBar {
    width: 80px;
    margin: 20px;
}

#NavFirstRow {
    display: flex;
    width: 100%;
    flex-direction: row;
}

#NavContent {
    margin: 20px 20px 20px 10%;
    display: flex;
    gap: 20px;
}

#NavItem {
    font-size: 15px;
    color: white;
    font-weight: 500;
    cursor: pointer;
}

#sideBarContainer {
    display: flex;
    flex-direction: column;
    padding: 50px 20px;
}

#SideItem {
    font-size: 15px;
    margin: 10px 10px;
    color: black;
    font-weight: 600;
}

#UserName {
    background-color: black;
    border-radius: 50px;
    color: white;
    padding: 10px 20px;
    margin: 10px 20px;
    display: flex;
    cursor: pointer;
}

#UserName-sidebar {
    background-color: black;
    border-radius: 50px;
    color: white;
    padding: 10px 20px;
    margin: 90% 10px 10px 10px;
    display: flex;
}

#UserName h5 {
    margin-top: 2px;
}

#Logout-icon {
    margin-left: 10px;
    width: 15px;
    transform: rotateY(180deg);
    filter: brightness(0) invert(1);
}

#PhoneNav {
    background-color: #386BDF;
    display: flex;
    padding: 20px;
    justify-content: space-between;
}

#menuicon {
    margin-top: 3%;
    filter: brightness(0) invert(1);
}

#closeicon {
    margin: 10px 10px 10px 50px;
}

/* ----------------------------------Footer------------------------------------- */

#Footer {
    background-color: black;
    color: white;
    font-size: 12px;
    text-align: center;
    padding: 20px 0px;
    margin-top: 2%;
}


/* -----------------------------------Home------------------------------------- */

#HomeTopSection {
    display: flex;
    flex-direction: row;
}

#HomeTitle {
    font-size: 80px;
    font-weight: 700;
    width: 600px;
    line-height: 120%;
}

#HomeMidSection {
    border-color: black;
    display: flex;
    justify-content: space-between;
    border-top: 2px solid black;
    padding-top: 20px;
    margin-top: 20px;
}

#Button1 {
    background-color: #386BDF;
    padding: 10px 50px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

#HomeMidSection h5:first-child {
    font-weight: 500;
    font-size: 15px;
}
#EventsSection {
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    margin-left: 5%;
    border: 2px solid black;
    cursor: pointer;
}

#EventsSection h4 {
    font-weight: 600;
    font-size: 15px;
    margin: 30px 15px;
    width: 20%;
}

#EventHomeImg {
    width: 50%;
}

#Redirect-icon {
    width: 30px;
    margin-top: 40%;
    margin-right: 10px;
}

#HomeBottomSection {
    display: flex;
    margin-top: 40px;
    justify-content: space-between;
}

#HomeBottomSection2 {
    display: flex;
    gap: 20px;
}

#HomeBottomSection1 div:first-child {
    display: flex;
}

#Homecard {
    padding: 20px 30px;
    background-color: #386BDF;
    border-radius: 10px;
}

#Homecard h1 {
    color: white;
    font-size: 60px;
    margin-left: 10px;
}

#Homecard h4 {
    color: white;
    font-size: 15px;
    width: 100px;
    margin-left: 10px;
    font-weight: 400;
}

#HomeCardBottom {
    display: flex;
}

#HomecardIcon {
    width: 70px;
    filter: brightness(0) invert(1);
}

#playcontent {
    margin: 15px;
}

#playcontent h5 {
    font-size: 15px;
}

#playcontent h6 {
    font-size: 12px;
    font-weight: 400;
}

#playitem {
    cursor: pointer;
    border: 2px solid #000000;
    border-radius: 50px;
    text-align: center;
    margin: 4px 25%;
}

/* ----------------------------EVENT---------------------------- */

#PageTitle {
    text-align: center;
    margin-top: 2%;
}

#EventCards {
    display: flex;
    margin-top: 3%;
    flex-direction: column;
}

#EventCard {
    display: flex;
    padding: 2%;
    margin: 1% 15%;
    border: 2px solid #000000;
    border-radius: 10px;
}

#CardImage {
    width: 250px;
    height: 35%;
}

#EventCardTitle {
    display: flex;
    justify-content: space-between;
}

#EventCardBottom {
    display: flex;
    justify-content: space-between;
}

#EventCardTitle h2 {
    font-size: 20px;
}

#EventCardTitle h4 {
    color: red;
}

#EventCardBody {
    margin: 0px 20px;
}

#EventCardBody h5 {
    margin-top: 10px;
    font-size: 15px;
    font-weight: 400;
}

#EventCardBottom {
    margin-top: 5px;
}

#EventCardBottom h4 {
    font-size: 15px;
    margin-top: 20px;
}

#Button2 {
    background-color: #386BDF;
    padding: 10px 50px;
    color: white;
    text-align: center;
    margin: 10px 0;
    border-radius: 5px;
    cursor: pointer;
}


#filterBox2 {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100px;
    background-color: #386BDF;
}
/* ----------------alumni---------------- */
#AlumniCards {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
}

#AlumniCard {
    background-color: #386BDF;
    width: 30%;
    margin-top: 3%;
    height: 360px;
    border-radius: 10px;
}

#alumniImage {
    width: 100%;
    height: 100%;
    background-size: cover;
}

#AlumniInnerCard {
    display: none;
    padding: 5%;
    height: fit-content;
}

#AlumniInnerCardChild {
    padding: 10% 5%;
    color: white;
}

#AlumniCard:hover #alumniImage {
    display: none;
}

#AlumniCard:hover #AlumniInnerCard {
    display: block;
}

#AlumniCard:hover {
    height: 100% !important;
}


#AlumniInnerCardChild h1 {
    width: 80%;
    overflow-wrap: break-word;
    overflow: hidden;
    font-size: 40px;
    line-height: 100%;
}

#AlumniInnerCardChild h5 {
    font-weight: 500;
}

#AlumniInnerCardChild h4 {
    margin-top: 10%;
    font-size: 15px;
    line-height: 120%;
    font-weight: 300;
    overflow: hidden;
}

#AlumniInnerCardChild div {
    display: flex;
    justify-content: space-between;
}

#AlumniContactBtn {
    cursor: pointer;
    text-align: center;
    border-radius: 5px;
    background-color: black;
    color: white;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: 600;
}

#Batch {
    margin-top: 7%;
}

#filterBox {
    margin: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    background-color: #386BDF;
}

#Search {
    width: 100%;
    padding: 5px 10px;
    margin: 30px 0px 30px 40px;
}

#Search {
    width: 100%;
    padding: 5px 10px;
    margin: 30px 0px 30px 40px;
}

#SearchCont {
    display: flex;
}

#SearchBtn {
    background-color: black;
    color: white;
    margin: 30px 0px;
    padding: 10px;
    cursor: pointer;
    font-weight: 300;
    width: 100px;
    text-align: center;
}

/* ----------------------Achivement---------------------- */

#achiveCard {
    background-color: #386BDF;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    margin: 1% 10%;
}

#achiveImg {
    width: 30%;
}

#AchiveCards {
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#AchiveCardInner {
    width: 100%;
    margin: 10px 40px;
}

#AchiveCardInnerchild {
    display: flex;
    color: white;
    justify-content: space-between;
}

#AchiveCardInnerchild h1 {
    font-weight: 600;
}

#AchiveCardInnerchild h6 {
    font-size: 13px;
    font-weight: 400;
    background-color: black;
    padding: 10px 20px 1px 20px;
    border-radius: 50px;
    margin-top: 1%;
}

#AchiveCardInner h4 {
    color: white;
    font-weight: 300;
    padding-top: 20px;
}

#Achivebtns {
    display: flex;
    gap: 20px;
}

#Achivebtns div {
    display: flex;
    border-radius: 5px;
    gap: 10px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    margin: 10px 0px;
    padding: 10px 20px;
}

#achiveicons {
    margin-top: 3px;
    width: 25px;
    height: 17px;
}

#achiveicons1 {
    width: 23px;
    height: 20px;
}

#AchiveCardInner h5 {
    background-color: #000000;
    color: #ffffff;
    padding: 10px 20px;
    margin-top: 10px;
    width: fit-content;
    border-radius: 5px;
    font-weight: 400;
}

#ProjectCards {
    display: flex;
    margin-top: 3%;
    flex-wrap: wrap;
    row-gap: 20px;
    justify-content: space-between;
}

#projectCard {
    width: 20%;
    height: 250px;
    background-color: #386BDF;
    padding: 30px 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    border-radius: 10px;
}

#projectCard h5 {
    font-size: 13px;
    font-weight: 400;
}

#projectCard h4 {
    margin-top: 10%;
}

#AlumniContactBtn {
    display: flex;
    justify-content: center;
    gap: 20px;
}

#projectimg {
    filter: brightness(0) invert(1) !important;
    width: 20px;
}

/* ------------------------lEARN------------------------------------------- */

#LearnMain {
    margin-top: 20px;
    display: flex;
    gap: 30px;
}

#Learnfilter {
    background-color: #386BDF;
    width: 100% !important;
    border-radius: 10px;
    padding: 50px 30px;
    color: white;
    height: 100%;
}

#MainContent {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    row-gap: 30px !important;
    margin: 0px 30px;
}

#LearnCard {
    width: 27%;
    height: fit-content;
    background-color: #386BDF;
    padding: 30px 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    border-radius: 10px;
}


#LearnCard h5 {
    margin: 20px 0;
    font-weight: 400;
}

#LearnCard h6{
    font-weight: 400;
}

#fBtn1 {
    background-color: #000000;
    color: white;
    cursor: pointer;
    padding: 10px 25%;
    text-align: center;
    width: fit-content;
    font-size: 15px;
}

#fline {
    margin-left: 30px;
    width: 5px;
    height: 250px;
    background-color: #ffffff;
}

#fBtn2 {
    cursor: pointer;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 10px;
    text-align: center;
    font-weight: 400;
    width: fit-content;
    margin: 10px 0 0 20px;
}

#fBtn1:hover + #drop1,
#drop1:hover {
    display: block !important;
}

#drop1 {
    display: none;
}

#fbtntype{
    cursor: pointer;
    background-color: #000000;
    padding: 10px 20px;
    width: 60px;
    font-weight: 400;
    text-align: center;
}

#MainContainer{
    display: flex;
    width: 100%;
}

#sidebar{
    height: 100vh;
    width: 200px;
    display: flex;
    background-color: #386BDF;
    flex-direction: column;
}

#upperbar{
    height: 100px;
    width: 100%;
    background-color: #000000;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
}

#sideitems{
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

#DashMainContent{
    height: calc(100vh - 200px);
    overflow-y: auto;
    display: flex;
    position: absolute;
    gap: 20px;
    align-content: flex-start;
    flex-wrap: wrap;
    row-gap: 20px;
    width: 90%;
    padding: 40px;
}

#sideitem{
    text-align: left;
    color: white;
    text-decoration: none;
    padding: 10px 30px;
    font-weight: 400;
    font-size: 16px;
}

#sidebarlogo{
    margin: 50px 20px;
    width: 100px;
    height: fit-content;
}

#SaveBtn{
    background-color: #000000;
    color: white;
    padding: 20px 50px;
}

#ticon{
    cursor: pointer;
    width: 20px;
    height: 20px;
}
#ticons{
    display: flex;
    gap: 20px;
    width: fit-content;
}

#taddbtn{
    background-color: #386BDF;
    padding: 5px 20px;
    margin: 5px;
    cursor: pointer;
    width: fit-content;
    border-radius: 5px;
}

.css-1bhpkcd-MuiTableCell-root{
    display: flex !important;
}
.css-1nslmh4-MuiTableCell-root{
    display: flex  !important;
}

#popupbox{
    z-index: 10;
    position: absolute;
    background-color: #386BDF;
    padding: 40px 50px;
    margin-top: 5%;
}

#formscroll{
    padding-right: 30px;
    overflow: auto;
    height: 300px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
#popuptitle{
    font-size: 20px;
    color: #ffffff;
}
#clsbtn{
    width: 20px;
    cursor: pointer;
    height: 20px;
    margin-bottom: 50px;
}

#submitbtn{
    cursor: pointer;
    background-color: #000000;
    width: fit-content;
    color: white;
    margin-top: 40px;
    font-weight: 400;
    padding: 10px 50px;
}

#popupbox input{
    padding: 10px 300px 10px 20px;
}


.css-1q1u3t4-MuiTableRow-root{
    background-color: #000000;
}


#Adminlogin{
    background-color: #386BDF;
    padding: 5% 10%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    text-align: center;
    margin: 10% 0px;
    border-radius: 20px;
}

#Adminlogin h4{
color: white;
font-size: 20px;
font-weight: 400;
}

#Adminlogin h5{
    color: white;
    font-size: 15px;
    background-color: #000000;
    padding: 10px 30px;
    font-weight: 400;
    }
    

#Adminlogin input{
    background-color: white;
    padding: 10px 100px 10px 30px;
}


input{
    border-color: transparent;
}

input:focus{
    outline: #000000    ;
}


@media only screen and (max-width:600px) {
    #Footer {
        font-size: 10px;
    }

    #AlumniCards {
        display: flex;
        flex-direction: column;
    }

    #AlumniCard {
        width: 100%;
    }

    #achiveCard {
        margin: 3%;
    }

    #achiveCard {
        flex-wrap: wrap;
    }

    #AchiveCardInnerchild h1 {
        font-size: 20px;
    }

    #Achivebtns div {}

    #Achivebtns {
        gap: 10px;
    }

    #AchiveCardInnerchild {
        flex-wrap: wrap;
    }
    #searchfilterapp{
        flex-wrap: wrap;
        row-gap: 0px;
    }

    #EventTitle {
        margin: 30px 0px;
    }

    #AchiveCardInnerchild {
        flex-direction: column;
    }

    #ProjectCards {
        flex-direction: column;
    }

    #projectCard {
        width: fit-content;
    }

    #achiveImg {
        width: 100%;
    }

    #AchiveCardInnerchild h6 {
        padding: 5px 10px;
        width: fit-content;
    }

    #Achivebtns {
        font-size: 13px;
    }
    #LearnCard{
        width: 100%;
    }
    #LearnMain{
        flex-wrap: wrap;
    }
    #MainContent{
        flex-wrap: wrap;
        margin: 0px 10px;
    }
    #fcenter{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #AchiveCardInner {
        margin: 10px;
    }

    #EventCard {
        flex-wrap: wrap;
        justify-content: center;
        margin: 3% 5%;
    }

    #EventCardBottom {
        flex-wrap: wrap;
    }

    #Button2 {
        width: 100%;
    }

    #Homecard {
       width: fit-content;
       padding: 10px;
    }
    #Homecard h4{
        font-size: 10px;
        width: fit-content;
     }
    #HomeCardBottom h1 {
        font-size: 20px;
    }
    #HomeCardBottom img {
       width: 20px;
    }
    #HomeBottomSection2{
        gap: 5px;
    }
    #EventHomeImg{
        height: fit-content;
    }
    #filterBox{
        flex-wrap: wrap;
        height: fit-content;
    }
    #Search{
        width: 100% !important;
        margin: 10px 0px 10px 10px;
    }
    #SearchBtn{
        height: fit-content;
        margin: 10px 0px;
        padding: 10px !important;
    }
    #filterBox2{
        flex-wrap: wrap;
        height: fit-content;    
    }
    #HomeTitle{
        width: 100% !important;
        overflow: hidden !important;
    }
}